body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #0d6efd;
    color: white;
    padding: 30px;
}

main {
    margin: 40px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background: #198754;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #145c32;
}

footer {
    background: #222;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
